.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    font: inherit;
    border-radius: 2px;
}

button {
    font: inherit;
    border: 1px solid #ffffff;
    color: #f3f3f3;
    background: rgb(82, 179, 98);
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #2b6635;
    color: white;
}