@font-face {
  font-family: 'OpenSans-Regular';
  src: url('./OpenSans-Regular.ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  font-family: 'OpenSans-Regular';
  color: red;
  background: url('./icon.png')
}

